.userlist {
  margin-top: 19px;
  margin-left: 34px;

  width: 80%;

  display: flex;
  flex-direction: column;

  &__header {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: -7px;
  }
  &__footer {
    align-self: flex-end;
    margin-top: 10px;
    padding-bottom: 25px;
  }
}
